#gallery {
  grid-template-columns: 1fr;

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 1fr 1fr;
  }

  @include xl {
    grid-template-columns: 1fr 1fr;
  }
}