#gallery {
  display: grid;
  grid-template-columns: 1fr;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img2"
      "img1full";

    #img1 {
      grid-area: img1;

      height: 400px;
      background-image: url(../img/img1.png);
      background-size: cover;
      background-position: center center;
    }

    #img2 {
      grid-area: img2;

      height: 400px;
      background-image: url(../img/img2.png);
      background-position: center center;
      background-size: cover;
    }

    #img3 {
      grid-area: img3;

      height: 400px;
      background-image: url(../img/img3.jpg);
      background-size: cover;
      background-position: center center;
    }

    #img3full {
      grid-area: img3full;

      height: 481px;
      background-image: url(../img/img3full.jpg);
      background-size: cover;
      background-position: center center;
    }

    #img1full {
      grid-area: img1full;

      height: 481px;
      background-image: url(../img/img1full.webp);
      background-size: cover;
      background-position: center center;
    }

    @include md {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-columns: 50% 50%;
      grid-template-areas:
        "img3full img1full";

      #img3full,
      #img1full {
        height: 594px;
      }
    }

    @include lg {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-columns: 62.5% 37.5%;
      grid-template-areas:
        "img2 img1full";

      #img2 {
        height: 593px;
      }
    }

    @include xl {
      display: grid;
      padding: 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "img1 img2"
        "img1 img3";

      height: auto;

      #img1 {
        height: 752px;
      }

      #img2,#img3 {
        height: 376px;
      }
    }
  }
}