#header {
  display: grid;
  grid-template-columns: 1fr;

  section {
    justify-content: center;

    &.logo {
      background-color: #F9DDDD;
      height: 77px;
    }

    .fklogo {
      height: 50%;
      width: auto;
      margin-top:17px;
      margin-left: 50px;
    }

    &.search {
      padding: 24px;
      text-align: center;
    }

    button {
      background-color: #C9E4E5;
      border-radius: 3.5px;
      padding: 5px 10px;
      border: none;
    }

    input {
      border: none;
      width: 100%;
      border-bottom: 1px solid #93A8AC;

    }

    form#search {
      justify-content: space-between;
      gap: 10px;
      display: flex;
      align-items: stretch;
    }
  }

  @include md {
    .logo {
      width: auto;
      height: 89px;
    }

    .fklogo {
      display: flex;
      justify-content: center;
      width: 50%;
      height: auto;
    }
  }

  @include lg {
    .logo {
      width: auto;
      height: 103px;
    }

    .fklogo {
      display: flex;
      justify-content: center;
      width: 50%;
      height: auto;
    }
  }

  @include xl {
    .logo {
      width: auto;
      height: 110px;
    }

    .fklogo {
      display: flex;
      justify-content: center;
      width: 50%;
      height: auto;
    }
  }
}