#header{
        display: grid;
        grid-template-columns: 1fr;
        width: 320px;
        height: 143px;
        background-color: #F9DDDD;

      .article{
        padding: 50px;
        .logo{
          background-color: #C9E4E5;
          
        }
       
      }
      
}
