#header{
        display: grid;
        grid-template-columns: 1fr;
  
  section{
      &.logo{
        background-color: #F9DDDD;
        padding: 50px;
        max-height: 175px;
        max-width: auto;
     
      }
        &.search{
          img{
            background-color: #C9E4E5; 
          } 
     }
    
   }    

   @include md{

   }


 }
