#hero{
    display: grid;

    grid-template-columns: 16px 1fr 16px;
    grid-template-columns: 100%;
    grid-template-areas: 
        ". content .";
    
        .grid-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 320px;
            height: 419px;
          }
          .item {
            background-color: #F9DDDD;
            padding: 50px;
          }
          
        @include md{
            grid-template-columns: 20% 80%;
  
        }    
        @include lg{
            grid-template-columns: 50% 50%;
        }
    
        @include xl{
             grid-template-columns: 50% 50%;
         }
        
        }