#heroimg {
  display: grid;
  grid-template-columns: 1fr;
}

#hero {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  grid-template-columns: 100%;

  aside {
    background-color: #F0C4C4;
    padding-left: 19px;
    padding-right: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 6px;
      height: 10px;
    }

  }

  article {
    background-color: #F9DDDD;
    padding-left: 19px;
    padding-right: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      line-height: 22px;
    }

    img {
      width: 6px;
      height: 10px;
    }
  }


  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 40% 60%;

    aside {
      height: 81px;

      img {
        width: 8px;
        height: 14px;
      }
    }

    article {
      height: 81px;

      img {
        width: 8px;
        height: 14px;
      }
    }
  }

  @include lg {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;

    aside {
      height: 72px;

      img {
        width: 8px;
        height: 14px;
      }
    }

    article {
      height: 72px;

      img {
        width: 8px;
        height: 14px;
      }
    }
  }

  @include xl {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;

    aside {
      height: 72px;

      img {
        width: 8px;
        height: 14px;
      }
    }

    article {
      height: 72px;

      img {
        width: 8px;
        height: 14px;
      }
    }
  }
}