#heroimg {
  display: grid;
  grid-template-columns: 1fr;
}

#hero {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  grid-template-columns: 100%;

  aside {
    background-color: #F0C4C4;
    padding-left: 19px;
    padding-right: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  article {
    background-color: #F9DDDD;
    padding-left: 19px;
    padding-right: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 40% 60%;
  }

  @include lg {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
  }

  @include xl {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
  }
}