#new{
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: 320px;
        height: 2006px;
      }
      
      li{
        list-style: none;
        padding-top: 40px;
        padding-bottom: 100px;
        margin-bottom: 15px;
        width: 100%;
    }
 }
      
