#new {
  display: grid;
  grid-template-columns: 1fr;

  @include md {
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
  }

  @include xl {
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
  }

}