#subHero {
  display: grid;
  grid-template-columns: 1fr;
  

  button {
    background-color: white;
    border: none;
    width: 99px;
    height: 27px;
  }

  article {
    margin: 5%;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;

    h3 {
      border: none;
      width: 100%;
    }

    img {
      max-width: 85px;
      max-height: 85px;
      float: right;
    }

    &.left {
      background-color: #C9E4E5;
      height: 118px;
    }

    &.right {
      background-color: #C9E4E5;
      height: 118px;
    }
  }

  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
    display:flex;
    justify-content: center;

    img {
      width: 113px;
      height: 113px;
      float: right;
    }
  }

  @include lg {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
    display:flex;
    justify-content: center;

    .right,.left{
      height: 145px;
      width: 489px;
    }

    img {
      width: 113px;
      height: 113px;
      float: right;
    }
  }
  @include xl {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
    display:flex;
    justify-content: center;

    .right,.left{
      height: 145px;
      width: 489px;
    }

    img {
      width: 113px;
      height: 113px;
      float: right;
    }
  }
}