#subHero{
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 320px;
        height: 251px;
      }  
      .item {
        background-color: #C9E4E5;
        padding: 50px;
      }
      
    @include md{

      margin: 0 40px;
      ul{ display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 8px
      }
  }
  @include lg{
      margin: 0 40px;
      ul{ grid-template-columns: repeat(5,1fr);

      } 
    }
}