#subHero {
  display: grid;
  grid-template-columns: 1fr;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 16px;
  gap: 16px;

  button {
    background-color: white;
    border: none;
    width: 99px;
    height: 27px;
  }

  article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #C9E4E5;
    height: auto;
    width: 100%;

    img {
      max-width: 85px;
      max-height: 85px;
    }
  }

  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    article{
      height:161px;
    }
  }

  @include lg {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
    article{
      height:145px;
    }
  }

  @include xl {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 50% 50%;
    margin: 24px 225px 24px;
    article{
      height:161px;
    }
  }
}