/* =============
    Buttons
============= */

//new

a:hover {
    color: #505050;
}

a:visited {
    color: #F0C4C4;
    border-color: #505050;
    border-radius: 2px;
}

a:active {
    background-color: white;
}